<h2 style="text-align: center">Homework1: Angular basics!</h2>
<hr>
<p style="text-align: center">{{title}}</p>
<form [formGroup]="myForm">
  <div style="display: flex; justify-content: center; align-items: center">
    <mat-form-field>
      <input matInput placeholder="How much do you want to exchange?" type="number" formControlName="amount" [(ngModel)]="toExchange">
      <mat-error *ngIf="amount?.errors?.min && amount?.touched">
        Even with our best exchange rate in the world you will get 0 because 0 multiply by anything is still 0 ;)
      </mat-error>
    </mat-form-field>
    <button style="margin-left: 10px; height: 40px" (click)="changeMoney()">Exchange</button>
  </div>
  <div style="text-align: center; margin: 25px 0 25px 0">
    <p>You will get {{result}}</p>
  </div>
  <div style="display: flex; justify-content: center">
    <button style="margin-right: 10px; height: 40px" (click)="reset()" >Reset</button>
    <button style="margin-bottom: 100px; height: 40px" (click)="swap()">Swap</button>
  </div>
</form>
