<form [formGroup]="myForm">
  <h2 style="text-align: center">Homework2: Angular next step!</h2>
  <hr>
  <div class="container">
    <mat-form-field class="myForm">
      <input [(ngModel)]="name" matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="user_name?.invalid && user_name?.touched" >
        Name should have at least 3 characters!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="myForm">
      <input [(ngModel)]="age" type="number" matInput placeholder="Age" formControlName="age">
      <mat-error *ngIf="user_age?.invalid && user_age?.touched" >
        Please set your age!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="myForm">
      <input [(ngModel)]="email" matInput placeholder="E-mail" formControlName="email">
      <mat-error *ngIf="e_mail?.invalid && e_mail?.touched" >
        Please use correct e-mail address!
      </mat-error>
    </mat-form-field>
    <button class="btn" (click)="addUser()"> Add user </button>
  </div>
  <div class="userContainer" *ngFor="let user of list">
    <h3 style="text-align: center; margin-bottom: 0">{{user.name}}</h3>
    <h3 style="text-align: center; margin-bottom: 0">{{user.age}}</h3>
    <h3 style="text-align: center; margin-bottom: 0">{{user.email}}</h3>
  </div>

</form>
