.myForm{
  margin: 10px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.userContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn{
  cursor: pointer;
  height: 40px;
}
